html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 20px;
    background-color: #cecece;
    color: #000000;
    line-height: 1.3;
}